div.eg {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  color: white;
  position: absolute;
  left: 2px;
  top: 8px;
  background-color: #d4431b;
  font-variant-caps: titling-caps;
  font-size: 21px;
  text-shadow: 3px 4px 3px #0000002e;
}

div.logo {
  background-color: #d4431b;
  position: absolute;
  left: 158px;
  padding: 6px 4px 0px 7px;
}

i.far.fa-circle {
  font-size: 50px;
  position: relative;
  color: white;
  text-shadow: 3px 4px 3px #0000002e;
}

i.fas.fa-utensils {
  font-size: 24px;
  position: relative;
  left: -38px;
  top: -9px;
  color: white;
  text-shadow: 3px 4px 3px #0000002e;
}

img.search-bar {
  width: 990px;
  height: 64px;
  position: relative;
}

div.search-bar {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #ca4126;
}
